@charset "Shift_JIS";

/* global_navi
----------------------------------------------------*/

#global_navi {
	margin:0 0 20px 0;
}

/* clearfix
----------------------------------------------------*/

#contents ul.topics li:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	line-height:0;
	clear:both;
}

#contents ul.topics li {
	display:inline-block;
	min-height:1%;
}

/* Hide macIE \*/
* html #contents ul.topics li {
 height:1%;
}

#contents ul.topics li {
 display:block;
}
/* /Hide macIE */


/* VI
----------------------------------------------------*/

#contents #vi {
	border:solid 5px #E3E3E3;
	width:570px;
	margin-bottom:20px;
	height:378px;
	overflow:hidden;
}

/* ピックアップ
----------------------------------------------------*/

#contents div.pickup {
	border:solid 1px #D9D9D9;
	padding:9px 9px 4px 9px;
	width:560px;
	margin:0 0 20px 0;
}

#contents div.pickup div.image {
	background:url(/common_images/dot_line_01.gif) no-repeat bottom left;
	width:560px;
	padding:0 0 10px 0;
	margin:0 0 10px 0;
}

#contents div.pickup li {
	margin:0 0 5px 0;
}

/* TOPICS
----------------------------------------------------*/

#contents ul.topics {
	width:564px;
	margin:0 0 20px 16px;
}

#contents ul.topics li {
	margin:0 0 5px 0;
}

#contents ul.topics li span.day {
	display:block;
	float:left;
	width:80px;
}

#contents ul.topics li span.news {
	display:block;
	float:left;
	width:484px;
}

/* about
----------------------------------------------------*/

#contents ul.enp_photo {
	width:579px;
	margin-right:-15px;
}

#contents ul.enp_photo li {
	float:left;
	padding-right:15px;
}

/* schedule
----------------------------------------------------*/

#contents div.schedule {
	margin:0 0 40px 15px;
}

#contents div.schedule li div.image {
	float:left;
	width:200px;
}

#contents div.schedule li div.detail {
	padding:10px 0 0 15px;
	overflow:hidden;
}

#contents div.schedule li div.detail h3 {
	font-size:110%;
	margin-bottom:15px;
}

#contents div.schedule.takada li div.detail h3 {
	font-size:25px;
	text-align:center;
	line-height:1.5;
	margin:20px 0; 
}

#contents div.schedule.type02 li div.detail h3 {
	font-size:22px;
	text-align:center;
	line-height:1.5;
}

#contents div.schedule li div.detail h3 a {
	color:#C77E1D;
}

#contents div.schedule li div.box01 {
	background-color:#F0F0F0;
	padding:10px 15px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	margin-bottom:10px;
}

#contents div.schedule li div.box01 dt,
#contents div.schedule li div.box01 dd {
	float:left;
	line-height:1.6;
	font-weight:bold;
	font-size:108%;
}


#contents div.schedule li div.box01 dt {
	clear:both;
}

* html #contents div.schedule li div.box01 dd {	float:none;}
*+html #contents div.schedule li div.box01 dd {	float:none;}

/* tenji_list
----------------------------------------------------*/

#tenji_list h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

#tenji_list .item {
	margin-bottom: 30px;
}

#tenji_list .item .date {
	font-size: 16px;
	margin-bottom: 10px;
}

#tenji_list .item .sub {
	text-align: center;
}

#tenji_list .item dl {
	padding: 15px;
	background: #DDE9F7;
	border-radius: 5px;
}

#tenji_list .item dt {
	font-size: 18px;
	text-indent: -1em;
	padding-left: 1em;
	font-weight: bold;
}

#tenji_list .item dd {
	font-size: 16px;
	padding-left: 1em;
}
