<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>スペース・レイアウト｜京・ギャラリー宮川町</title>
<meta name="description" content="京・ギャラリー宮川町のスペース・レイアウトのご案内。京都の東山区、鴨川沿いの宮川町通にあるアートスペースです。京都市街地、四条河原町から徒歩５分と、非常に交通の便のよいところにあります。個展・趣味・お稽古事の発表、またお仲間との共同展などにお使いいただく、手ごろなスペースです。" />
<meta name="keywords" content="ギャラリー,京都,画廊,アートスペース,レンタル スペース,個展,絵画,展示,作品 発表,東山,鴨川,宮川町" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="stylesheet" type="text/css" media="screen,all" href="/common_css/common.css" />
<link rel="stylesheet" type="text/css" media="screen,all" href="/access/css/index.css" />
<script type="text/javascript" src="/common_js/common.js"></script>
</head>
<body>
<div id="container">
	<!-- [header] -->
	<div id="header">
		<div class="logo"><a href="/index.html"><img src="/common_images/p_logo.gif" alt="京・ギャラリー宮川町" width="384" height="24" /></a></div>
		<div class="hmenu">
			<ul>
				<li class="sitemap"><a href="/sitemap.html"><img src="/common_images/hn_sitemap_f.gif" alt="サイトマップ" width="72" height="10" /></a></li>
				<li class="inq"><a href="/inq/"><img src="/common_images/hn_inq_f.gif" alt="お問い合わせ" width="72" height="10" /></a></li>
			</ul>
		</div>
	</div>
	<!-- /[header] -->
	<!-- [global navi] -->
	<div id="global_navi">
		<ul>
			<li><img src="/common_images/gn01_h.gif" alt="スペース・レイアウト" width="156" height="30" /></li>
			<li><a href="/fee/"><img src="/common_images/gn03_f.gif" alt="使用料" width="156" height="30" /></a></li>
			<li><a href="/access/"><img src="/common_images/gn02_f.gif" alt="連絡及びアクセス" width="156" height="30" /></a></li>
			<li><a href="/faq/"><img src="/common_images/gn04_f.gif" alt="よくあるご質問" width="156" height="30" /></a></li>
			<li><a href="/exhibition/"><img src="/common_images/gn05_f.gif" alt="展示の様子" width="156" height="30" /></a></li>
		</ul>
	</div>
	<!-- /[global navi] -->
	<!-- [topicpath] -->
	<div id="topicpath"><a href="/index.html">トップ</a> &gt; スペース・レイアウト</div>
	<!-- /[topicpath] -->
	<div id="main_contents">
		<!-- [contents] -->
		<div id="contents">
			<h1><img src="/layout/image_dir/p_layout_title.gif" alt="" width="580" height="26" /><span>スペース・レイアウト</span></h1>
			<p class="b_m15">「京・ギャラリー宮川町」は、貸しスペースです。<br />
				洋と坪庭のある和室のスペースに廊下の吹き抜けがつなぎとなっており、路地側はオープンテラスです。<br />
				作者・出展者の個性／想いを生かし、その表現する世界を汲み取れる空間創造を目指す手作りギャラリーです。</p>
			<div class="b_m10"><img src="/common_images/p_layout.gif" alt="" width="580" height="258" /></div>
			<div class="b_m20"><img src="/layout/image_uniq/p_index_05.jpg" alt="フロアーA　路地側" width="580" height="274" /></div>
			<div class="b_m20"><img src="/layout/image_uniq/p_index_06.jpg" alt="フロアーB　奥和室" width="580" height="210" /></div>
			<p>→ <a href="/fee/index.html">使用料はこちら</a></p>
		</div>
		<!-- /[contents] -->
		<!-- [side contents] -->
		<div id="side-contents">
			<script type="text/javascript">
			rmenus_recent();
			</script>
			<div class="inq"><a href="/inq/"><img src="/common_images/btn_inq.jpg" width="180" height="38" alt="ギャラリーお問合せ" /></a></div>
		<!--#include virtual="/inc/side_adlist.html" -->
		</div>
		<!-- /[side contents] -->
	</div>
	<!-- [footer] -->
	<div id="footer">
		<div class="pagetop">
			<p><a href="#container">ページトップへ戻る</a></p>
		</div>
		<div id="footer_contents">
			<address>
			<strong>京・ギャラリー宮川町</strong><br />
			605-0801　京都市東山区宮川筋2-252<br />
			TEL：090-7490-7851　FAX：075-561-8243
			</address>
			<div class="copyright">Copyright 2008 Kyo Gallery Miyagawacho. All rights reserved.</div>
		</div>
	</div>
	<!-- /[footer] -->
</div>
</body>
</html>
